<div class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Payment request complete
    </h1>
    <div class="govuk-panel__body">
      Reference: DUMMY LAA-5a7d3c
    </div>
  </div>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Payment type
      </dt>
      <dd class="govuk-summary-list__value">
        DUMMY Non-standard magistrates' - supplemental
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Allowed costs
      </dt>
      <dd class="govuk-summary-list__value">
        DUMMY £1272.00
      </dd>
    </div>
  </dl>

  <div class="govuk-button-group">
    <a href="payment-type" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
      Create new payment request
    </a>
    <a class="govuk-link" href="/latest-nsm/caseworker/crm-assess">Return to Your claims</a>
  </div>
</div>
