<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "shared/claim_reference_form", locals: { method: :put, form_object: @form_object } %>
  </div>
</div>
